        @import 'https://use.fontawesome.com/releases/v5.10.2/css/all.css';
        @import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
        html {
            max-width: 1200px;
        }
        
        body {
            margin: 0;
            font-family: 'PT Sans', sans-serif;
        }
        
        header {
            background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)), url(../image/computer-main.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            margin: 0;
        }
        
        header nav ul {
            text-align: center;
            display: inline-block;
            width: 80%;
            margin-top: 30px;
            margin-left: auto;
            margin-right: auto;
        }
        
        header nav ul li a {
            display: inline-block;
            text-decoration: none;
            color: white;
            text-shadow: -1px 1px 2px rgba(0, 0, 0, 0.6);
        }
        
        header nav ul li {
            display: inline-block;
            list-style: none;
            width: 40%;
        }
        
        nav ul li a i {
            position: relative;
            right: 8px;
            bottom: 0;
        }
        
        .header-title,
        .header-subtitle {
            color: white;
            text-shadow: -1px 1px 2px rgba(0, 0, 0, 0.6);
            text-align: center;
        }
        
        .header-title {
            font-size: 45px;
        }
        
        .header-subtitle {
            font-size: 20px;
            width: 50%;
            text-align: center;
            margin: 0 auto;
        }
        
        .case {
            text-align: left;
        }
        
        .cart {
            text-align: right;
            margin-right: -110px;
        }
        
        .cta {
            display: block;
            width: fit-content;
            margin: 50px auto 50px auto;
            background: #00D08E;
            color: white;
            padding: 10px 15px;
            border: none;
            border-radius: 2px;
            text-decoration: solid;
            font-size: 16px;
            font-weight: bold;
            text-decoration: solid;
        }
        
        .action {
            display: inline-block;
            text-align: center;
            text-decoration: none;
            text-shadow: -1px 1px 2px rgba(0, 0, 0, 0.6);
            color: white;
            width: 100%;
            margin-bottom: 80px;
        }
        
        .action i {
            position: relative;
            left: 7px;
            font-size: 19px;
        }
        
        .image-wrapper {
            display: inline-block;
            width: 50%;
        }
        
        .image-wrapper img {
            width: 100%;
            min-width: 602px;
        }
        
        .about-wrapper {
            display: inline-block;
            width: 46%;
            padding-left: 30px;
            min-height: 407px;
        }
        
        .about-wrapper ul li {
            list-style: none;
        }
        
        .about-wrapper ul {
            padding-left: 10px;
            margin-top: 34px;
        }
        
        .about-subtitle {
            padding-left: 10px;
            padding-right: 30px;
            margin-top: 0px;
            font-size: 18px;
        }
        
        .about-wrapper ul li i {
            color: #00D08E;
            padding-right: 12px;
            padding-bottom: 24px;
        }
        
        .about-title {
            font-size: 27px;
            padding-left: 10px;
            margin-bottom: 5px;
        }
        
        .content-wrapper article {
            vertical-align: top;
        }
        
        .benefits-wrapper {
            min-width: 1206px;
        }
        
        .benefits {
            display: inline-block;
            width: 50%;
        }
        
        .image-benefits {
            display: inline-block;
            width: 46%;
        }
        
        .benefits ul li img {
            width: 70px;
        }
        
        .benefits ul li p {
            font-size: 20px;
            font-weight: bold;
            text-align: center;
            color: #00D08E;
            margin-top: 4px;
        }
        
        .benefits ul li {
            display: inline-block;
            width: 25%;
        }
        
        .benefits ul {
            text-align: center;
            padding-left: 0;
            margin-top: 50px;
        }
        
        .benefits-wrapper article {
            vertical-align: top;
            position: relative;
            top: -5px;
        }
        
        .benefits-title {
            text-align: center;
            font-size: 28px;
        }
        
        .questions {
            background: #B2F1DD;
            position: relative;
            top: -39px;
            width: 100%;
            min-width: 1206px;
        }
        
        .question-title {
            font-size: 28px;
            text-align: center;
            padding-top: 30px;
        }
        
        .questions ul li {
            display: inline-block;
            width: 26%;
        }